@model HomeVM


<section class="section first-section">
    <div class="container-fluid">
        <div class="masonry-blog clearfix">
            @foreach (var featured in Model.FeaturedtArticles)
            {
                
            <div class="left-side">
                <div class="masonry-box post-media">
                    <img src="@featured.PhotoUrl" alt="" class="img-fluid">
                    <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-aqua"><a href="blog-category-01.html" title="">@featured.Category.CategoryName</a></span>
                                <h4><a href="/article/detail/@featured.Id" title="">@featured.Title</a></h4>
                                <small><a href="garden-single.html" title="">@featured.CreatedDate</a></small>
                                <small><a href="#" title="">By @featured.User.FirstName @featured.User.LastName</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->
            }

            
        </div><!-- end masonry -->
    </div>
</section>

<section class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">
                    <div class="blog-list clearfix">
                        @foreach (var article in Model.HomeArticles)
                        {

                            <div class="blog-box row">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="/article/detail/@article.Id" title="">
                                            <img src="@article.PhotoUrl" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div class="blog-meta big-meta col-md-8">
                                    <span class="bg-aqua"><a href="garden-category.html" title="">@article.Category.CategoryName</a></span>
                                    <h4><a href="/article/detail/@article.Id" title="">@article.Title</a></h4>
                                    <p>@article.Content.Substring(0,200)...</p>
                                    <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> @article.Views</a></small>
                                    <small><a href="/article/detail/@article.Id" title="">@article.CreatedDate.ToString("dd/MM/yyyy")</a></small>
                                    <small><a href="#" title="">by @article.User.FirstName @article.User.LastName</a></small>
                                </div><!-- end meta -->
                            </div>

                            <!-- end blog-box -->

                            <hr class="invis">
                        }

                        
                    </div><!-- end blog-list -->
                </div><!-- end page-wrapper -->

                <hr class="invis">

                <div class="row">
                    <div class="col-md-12">
                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-start">
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <h2 class="widget-title">Search</h2>
                        <form class="form-inline search-form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Recent Posts</h2>
                        <div class="blog-list-widget">
                            <div class="list-group">
                                @foreach (var recent in Model.RecentArticles)
                                {
                                    
                                    <a href="/article/detail/@recent.Id" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="w-100 justify-content-between">
                                        <img src="@recent.PhotoUrl" alt="" class="img-fluid float-left">
                                        <h5 class="mb-1">@recent.Content.Substring(0,50)...</h5>
                                        <small>@recent.CreatedDate</small>
                                    </div>
                                </a>
                                }

                                
                            </div>
                        </div><!-- end blog-list -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Advertising</h2>
                        <div class="banner-spot clearfix">
                            <div class="banner-img">
                                <img src="~/assets/upload/banner_04.jpg" alt="" class="img-fluid">
                            </div><!-- end banner-img -->
                        </div><!-- end banner -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Instagram Feed</h2>
                        <div class="instagram-wrapper clearfix">
                            @foreach (var pic in Model.ArticlePhotos)
                            {
                            <a href="/article/detail/@pic.Id"><img src="@pic.PhotoUrl" alt="" class="img-fluid"></a>
                                
                            }
                            
                        </div><!-- end Instagram wrapper -->
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">Popular Categories</h2>
                        <div class="link-widget">
                            <ul>
                                @foreach (var category in Model.HomeCategories)
                                {
                                    
                                <li><a href="#">@category.CategoryName <span>(@category.Articles.Count())</span></a></li>
                                }
                               @* <li><a href="#">Outdoor Living <span>(15)</span></a></li>
                                <li><a href="#">Indoor Living <span>(31)</span></a></li>
                                <li><a href="#">Shopping Guides <span>(22)</span></a></li>
                                <li><a href="#">Pool Design <span>(66)</span></a></li>*@
                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>